{% extends "layout.twig" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Instructions and help</h3>
	</div>
	<div class="panel-body">
		<div class="panel-group" id="accordion">
		
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#programs">
					<h4 class="panel-title">Programs</h4>
				</div>
				<div id="programs" class="panel-collapse collapse">
					<div class="panel-body">
						<p>This is where you can add <a href="/programs">programs</a> to run. A program is where you can group what zones you want to run and for how long, you can add as many different programs as you like.</p>
						<p>First you must add a program, by clicking the add button.</p>
						<p>You then give the program a name, and turn the program on or off, you can also click the delete button to delete the program. When you turn the program off all the information you entered will be saved, it means that this program will not run.</p>
						<p>Select the days you want the program to run by clicking on the day buttons, they will turn green indicating the program will run on those days.</p>
						<p>Start times, you can configure up to 4 start times per day that you want this program to run. You can turn the start times on or off by clicking the button to the left of the time box it will toggle red=off green=on, to set the time you click the little clock to the right of the time box.</p>
						<p>You then select the zones you want to run in this program, and select a duration for each.</p>
						<p>When you have finished editing click the save button</p>
						
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#manual">
					<h4 class="panel-title">Manual</h4>
				</div>
				<div id="manual" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Describes the <a href="/manual">manual</a> mode</p>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#logs">
					<h4 class="panel-title">Logs</h4>
				</div>
				<div id="logs" class="panel-collapse collapse">
					<div class="panel-body">
						<p>Info on the <a href="/logs">Logs</a> page.</p>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#zones">
					<h4 class="panel-title">Zones</h4>
				</div>
				<div id="zones" class="panel-collapse collapse">
					<div class="panel-body">
						<p>How to set up your watering <a href="/zones">zones</a></p>
						<p>Zone editing, you can rename the zone names, you must also specify if there is a solenoid valve attached, set rain sensor and add a few notes.</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


{% endblock %}